.intro {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introBlank {
  margin-bottom: 80px;
}

.introText {
  font-size: 42px;
  color: #F0EEF5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: -80px;
}

.skipButton {
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 25px;
  color: #fff;

  padding: 10px 20px;
  min-width: 230px;
  border-radius: 8px;
  border: none;
  background: #5E4E97;
  transition: .2s;
}

.skipButton:hover {
  background: #7E4DA9;
  transition: .2s;
}